.banner {
    display: flex;
    background-color: #161616;
    margin: 20%;
    margin-top: 5%;
    margin-bottom: 5%;
    border-radius: 3%;
}

/* transition-start */
.banner h1{
    transition-property: background-color;
  transition-duration: 2s;
  transition-timing-function:ease-in-out;
    transition-delay: 1s;
}

.banner h1:hover {
    background-color: lightcoral;
    cursor: all-scroll;
}

/* transition-done */

.header-left {
    margin: 2%;
   margin-left: 1%;
    align-items: left;
}

.HeadLine {
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    font-size: 40px;
    color: white;

}

.banner-text-left {
    width: 600px;
    color: white;
    font-size: 1.5em;
}

.Watch-live-in-Header {
    color: white;
    border: 6px solid red;
    background-color: red;
    white-space: nowrap;
    margin: 0px 30px 50px 15px;
    display: flex;
    border-radius: 2px;

}

.fa-angle-right {
    display: inline-block;
    margin-left: 10%;
}

.banner-image {
    width: 323px;
    height: 380px;
}

/* Main section start */
.main-part {
    display: flex;
    justify-content: center;


}

.main-left-aside {
    margin: 100px;
    border: 1px solid black;
    height: max-content;
    border-radius: 5px;
    display: grid;
    grid-template-rows: repeat(4, 1fr);
    row-gap: 6px;
    padding: 30px 40px 0px 40px;
    background-color: black;


}

.main-left-side {
    font-size: medium;
    font-weight: 700;
    padding: 12px;
    border-radius: 4px;
    width: 100%;
}

.main-left-side-blog {
    background-color: red;
    color: white;
}

.Ronaldo-pic {
    display: flex;
    flex-direction: column;
}

.Ronaldo-pic p {
    width: 200px;
    font-size: 40px;
    font-weight: 700;
}

.CR7-Pic {
    Width:
        312px;
    Height:
        175px;
}

.Transfer {

    border: 1px solid black;
    background-color: white;
    width: 60px;
    margin: 10px 0px 0px 0px;
    border-radius: 3px;
}



.icon {
    display: grid;
    grid-template-columns: repeat(2, 0.1fr);

}

.right-part-main-section {
    margin: 100px 100px 100px 30px;
    display: grid;
    grid-template-columns: repeat(3, 0.9fr);
    column-gap: 15px;
}

/* main section done */
/* footer-section-start */
.formalities {
    display: flex;
    justify-content: space-between;

}

footer h1 {
    text-align: center;
    padding: 40px;
}

.horizontal-line {
    color: white;
    width: 50%;
}

.last-part {
    color: white;
    background-color: black;
    margin: 42px;
    width: 95%;
    height: 70%;
    padding: 80px 0px 80px 0px;
}

.icons1 {
    direction: flex;
    margin-top: 10%;

}

.icons1 a {
    text-decoration: none;
    color: white;
    padding: 5%;
    font-size: 150%;

}

.icons1 a i {
    padding: 2%;
}

/* footer-section-done */
/* main-section-additional-code--of-second-page start */
.country-flag {
    display: flex;

}

.different-match-grid {
    display: grid;
    grid-template-columns: repeat(3, 0.5fr);
    row-gap: 5px;
    column-gap: 3px;
    margin: 30px;
    padding: 20px;

}

.match-section {
    display: flex;
    justify-content: space-around;
}

.different-match {
    border: 1px solid white;
    background-color: beige;
    height: auto;
    display: grid;
    grid-template-rows: repeat(3, 0.9fr);
    row-gap: 2px;
    padding-left: 20px;
    padding-right: 50px;

}

a {
    text-decoration: none;
    color: #161616
}


/* main-section-additional-code--of-second-page done */
/* work of Css Media query start */
@media only screen and (max-width:688px) {
    .body {
        margin-left: 0px;

    }

    .HeadLine h1 {
        padding-left: 2%;
        width: 2%;
        font-size: 25px;
    }

    .banner {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        align-items: center;
        width: 100%;
        margin-left: 0%;
    }

    .banner-image {
        width: 40%;
        margin-left: 3%;
    }

    .banner-text-left {
        width: 50%;
    }

    .main-part {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        margin: 2%;
        margin-left: 0%;


    }

    .main-left-aside {
        margin: 0%;
        padding-right: 10%;
        text-align: center;
        width: 40%;
    }



    .main-left-side {
        margin-right: 2%;
    }

    .right-part-main-section {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        margin-left: 10%;
        width: 100%;
    }

    .formalities {
        display: grid;
        grid-template-columns: repeat(1, 0.9fr);
        width: 20%;
        margin-left: 5%;

    }

    .last-part {
        margin: 0%;
    }

    .Ronaldo-pic {
        margin: 0%;
    }

    .last-part h1 {
        margin-left: 0%
    }

    .icons1 {
        direction: flex;
        margin-top: 3%;

    }

    .icons1 a {
        text-decoration: none;
        color: white;
        padding: 1%;
        font-size: 60%;


    }

    .icons1 a i {
        padding: 2%;
    }

    .different-match-grid {
        display: grid;
        grid-template-columns: repeat(1, 1f);
        row-gap: 5%;

    }

    .match-section {
        display: grid;
        grid-template-columns: repeat(1, 1f);
        row-gap: 5%;



    }

    .main-left-aside-second-website {
        margin: 0%;

    }
}

/* mobile-reponsiveness-done */
/* tab-reponsiveness-start */
@media only screen and (min-width:689px)and(max-width:1000px) {
    .body {
        margin-left: 0px;

    }

    .HeadLine h1 {
        padding-left: 2%;
        width: 2%;
        font-size: 25px;
    }

    .banner {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        align-items: center;
        width: 100%;
        margin-left: 0%;
    }

    .banner-image {
        width: 40%;
        margin-left: 3%;
    }

    .banner-text-left {
        width: 50%;
    }

    .main-part {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        margin: 2%;
        margin-left: 0%;


    }

    .main-left-aside {
        margin: 0%;
        padding-right: 10%;
        text-align: center;
        width: 40%;
    }



    .main-left-side {
        margin-right: 2%;
    }

    .right-part-main-section {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        margin-left: 10%;
        width: 100%;
    }

    .formalities {
        display: grid;
        grid-template-columns: repeat(2, 0.9fr);
        width: 20%;
        margin-left: 5%;

    }

    .last-part {
        margin: 0%;
    }

    .Ronaldo-pic {
        margin: 0%;
    }

    .last-part h1 {
        margin-left: 0%
    }

    .icons1 {
        direction: flex;
        margin-top: 3%;

    }

    .icons1 a {
        text-decoration: none;
        color: white;
        padding: 1%;
        font-size: 60%;


    }

    .icons1 a i {
        padding: 2%;
    }

    .different-match-grid {
        display: grid;
        grid-template-columns: repeat(2, 1f);
        row-gap: 5%;

    }

    .match-section {
        display: grid;
        grid-template-columns: repeat(2, 1f);
        row-gap: 5%;



    }

    .main-left-aside-second-website {
        margin: 0%;

    }
}